#######################
### .gitignore file ###
#######################

# Magento project specific #
############################
/src/skin/frontend/dupmagrefonte/default/node_modules/

# Magento global (never) #
##########################
/src/.htaccess.sample
/src/dev/
/src/downloader/
/src/app/design/install/
/src/get.php
/src/index.php.sample
/src/install.php
/src/LICENSE*
/src/mage
/src/media/
/src/php.ini.sample
/src/pkginfo/
/src/RELEASE_NOTES.txt
/src/sitemap.xml
/src/sitemap/
/src/skin/install/
/src/pear
/src/pear/
/src/var/

# Magento global (potential) #
##############################
/src/.htaccess
/src/api.php
/src/app/code/community/Phoenix/
/src/app/code/community/Cm/
/src/app/code/community/OnTap/
/src/app/code/core/
/src/app/design/adminhtml/default/default/
/src/app/etc/modules/Enterprise_*.xml
/src/app/etc/modules/Mage_*.xml
/src/app/etc/modules/Phoenix_Moneybookers.xml
/src/app/etc/modules/Cm_RedisSession.xml
/src/app/etc/modules/OnTap_Merchandiser.xml
/src/app/etc/applied.patches.list
/src/app/etc/config.xml
/src/app/etc/enterprise.xml
/src/app/etc/local.xml.additional
/src/app/etc/local.xml.template
/src/app/etc/local.xml
/src/app/.htaccess
/src/app/bootstrap.php
/src/app/Mage.php
/src/cron.php
/src/cron.sh
/src/errors/
/src/favicon.ico
/src/includes/
/src/index.php
/src/js/blank.html
/src/js/calendar/
/src/js/enterprise/
/src/js/extjs/
/src/js/firebug/
/src/js/flash/
/src/js/google/
/src/js/index.php
/src/js/jscolor/
/src/js/lib/
/src/js/mage/
/src/js/merchandiser/
/src/js/prototype/
/src/js/scriptaculous/
/src/js/spacer.gif
/src/js/tiny_mce/
/src/js/varien/
/src/lib/.htaccess
/src/lib/3Dsecure/
/src/lib/Apache/
/src/lib/Cm/
/src/lib/Credis/
/src/lib/flex/
/src/lib/googlecheckout/
/src/lib/LinLibertineFont/
/src/lib/Mage/
/src/lib/src/
/src/lib/Net/
/src/lib/PEAR/
/src/lib/Pelago/
/src/lib/phpseclib/
/src/lib/Support/
/src/lib/Varien/
/src/lib/Zend/
/src/shell/abstract.php
/src/shell/compiler.php
/src/shell/indexer.php
/src/shell/log.php
/src/shell/lib/
/src/shell/support/
/src/shell/umt113_conflict.php
/src/shell/umt113_redirect.php
/src/shell/url_migration_from_1_13_0_0_to_1_13_0_2.php
/src/shell/url_migration_to_1_13.php
/src/skin/adminhtml/default/default/
/src/skin/adminhtml/default/enterprise/
/src/skin/frontend/base/
/src/skin/frontend/rwd/
/src/skin/frontend/default/
/src/skin/frontend/enterprise/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Temporary files #
###################
*.swp
*.swo
*~

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sqlite

# OS generated files #
######################
.DS_Store*
ehthumbs.db
Icon\r\r
Thumbs.db

# Development files #
#####################
.svn/
.idea/
.vagrant/
*.iml
*.ipr
*.iws
.modgit/
.modman/
/target/
/work/
.settings/
.classpath
.project
.metadata
.loadpath
/nbproject/
/build/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml
/nb-configuration.xml
backup/.!1724!st-dupont-20170410.sql
backup/bdddupont.sql
backup/st-dupont-20170410.sql