<?xml version="1.0"?>
<config>
    <modules>
        <Esgi_Brand>
            <version>0.1.0</version>
        </Esgi_Brand>
    </modules>
    <global>
        <helpers>
            <esgi_brand>
                <class>Esgi_Brand_Helper</class>
            </esgi_brand>
        </helpers>
        <blocks>
            <esgi_brand>
                <class>Esgi_Brand_Block</class>
            </esgi_brand>
        </blocks>
        <models>
            <esgi_brand>
                <class>Esgi_Brand_Model</class>
                <resourceModel>esgi_brand_resource</resourceModel>
            </esgi_brand>
            <esgi_brand_resource>
                <class>Esgi_Brand_Model_Resource</class>
                <entities>
                    <brand>
                        <table>esgi_brand_brand</table>
                    </brand>
                    <brand_product>
                      <table>esgi_brand_product</table>
                    </brand_product>
                </entities>
            </esgi_brand_resource>
        </models>
        <resources>
            <esgi_brand_setup>
                <setup>
                    <module>Esgi_Brand</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </esgi_brand_setup>
            <esgi_brand_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </esgi_brand_write>
            <esgi_brand_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </esgi_brand_read>
        </resources>
    </global>
    <stores>
        <admin>
            <design>
                <theme>
                    <default>esgi</default>
                </theme>
            </design>
        </admin>
    </stores>
    <frontend>
        <routers>
            <esgi_brand>
                <use>standard</use>
                <args>
                    <module>Esgi_Brand</module>
                    <frontName>brand</frontName>
                </args>
            </esgi_brand>
        </routers>
        <layout>
            <updates>
                <esgi_brand>
                    <file>esgi/brand.xml</file>
                </esgi_brand>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Esgi_Brand_Adminhtml before="Mage_Adminhtml">Esgi_Brand_Adminhtml</Esgi_Brand_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Esgi_Brand>
                    <files>
                        <default>Esgi_Brand.csv</default>
                    </files>
                </Esgi_Brand>
            </modules>
        </translate>
        <layout>
            <updates>
                <esgi_brand>
                    <file>esgi/brand.xml</file>
                </esgi_brand>
            </updates>
        </layout>
    </adminhtml>
</config>
